* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background: #2D3142;
  color: #FFF;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
}

.desc {
  height: 25%;
}

.status-container {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-container p {
  padding: 0.5rem 1.5rem;
  background: #4F5D75;
  border-radius: .5rem;
  font-size: .8rem;
}

.map {
  height: 65%;
}

.footer {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.submit-btn {
  padding: 0.15rem 1.5rem;
  background: #FFC857;
  border-radius: .5rem;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.end-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.end-page img {
  width: 65%;
  margin-bottom: 2rem;
}


.end-page p {
  font-size: 2rem;
  font-weight: bold;
}

@media (min-width: 400px) {
  .footer {
    justify-content: center;
  }

  .end-page img {
    width: 45%;
    margin-bottom: 2rem;
  }
}